<main>
  <form [formGroup]="userInfoForm" (ngSubmit)="actualizarDatos()">
    <article class="articulo">
      <h1>Datos personales</h1>
      <div class="formulario">
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="nombre"
            class="dato"
            [class.dado]="nombre.value != ''"
            required="required"
          />
          <label for="nombre" class="etiqueta">Nombre</label>

          <div *ngIf="nombre.errors" class="error">
            <span *ngIf="nombre.errors && (nombre.touched || nombre.dirty)">
              <span *ngIf="nombre.errors['required']"
                >El nombre es necesario</span
              >
            </span>
          </div>
        </div>
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="direccion"
            class="dato"
            [class.dado]="direccion.value != ''"
            required="required"
          />
          <label for="direccion" class="etiqueta">Direccion</label>

          <div *ngIf="direccion.errors" class="error">
            <span
              *ngIf="direccion.errors && (direccion.touched || direccion.dirty)"
            >
              <span *ngIf="direccion.errors['required']"
                >La dirección es necesaria</span
              >
            </span>
          </div>
        </div>
        <div class="campo">
          <input
            type="text"
            [formControl]="codigoPostal"
            class="dato"
            [class.dado]="codigoPostal.value != ''"
            required="required"
          />
          <label for="codigoPostal" class="etiqueta">Codigo Postal</label>

          <div *ngIf="codigoPostal.errors" class="error">
            <span
              *ngIf="
                codigoPostal.errors &&
                (codigoPostal.touched || codigoPostal.dirty)
              "
            >
              <span *ngIf="codigoPostal.errors['required']"
                >El codigo postal es necesario</span
              >
            </span>
          </div>
        </div>
        <div class="campo">
          <input
            type="text"
            [formControl]="ciudad"
            class="dato"
            [class.dado]="ciudad.value != ''"
            required="required"
          />
          <label for="ciudad" class="etiqueta">Ciudad</label>

          <div *ngIf="ciudad.errors" class="error">
            <span *ngIf="ciudad.errors && (ciudad.touched || ciudad.dirty)">
              <span *ngIf="ciudad.errors['required']"
                >La ciudad es necesaria</span
              >
            </span>
          </div>
        </div>
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="telefono"
            class="dato"
            [class.dado]="telefono.value != ''"
            required="required"
          />
          <label for="telefono" class="etiqueta">Teléfono de contacto</label>

          <div *ngIf="telefono.errors" class="error">
            <span
              *ngIf="telefono.errors && (telefono.touched || telefono.dirty)"
            >
              <span *ngIf="telefono.errors['required']"
                >El teléfono es necesario</span
              >
            </span>
          </div>
        </div>

        <button type="submit" [disabled]="!userInfoForm.valid" class="boton">
          Actualizar
        </button>
      </div>
    </article>
  </form>
</main>
