<main>
  <article>
    <h1>Gestión de cursos impartidos</h1>

    <div class="campo corto">
      <input
        type="text"
        class="dato"
        id="tituloCurso"
        [formControl]="tituloCurso"
      />
      <label for="tituloCurso" class="etiqueta"
        >Filtrar cursos por título</label
      >
    </div>

    <button routerLink="../curso" class="boton">Nuevo curso</button>

    <h2>Cursos disponibles:</h2>
    <div *ngFor="let curso of cursos" class="noticia">
      <div class="elemento">
        <div class="titulo">{{ curso.titulo }}</div>
        <div class="acciones">
          <button (click)="actualizarCurso(curso.id)">Actualizar</button>
          <button (click)="borrarCurso(curso.id)">Borrar</button>
        </div>
      </div>
    </div>
  </article>
</main>
