<main>
  <article>
    <h1>Gestión de cursos impartidos</h1>

    <div class="herramientas">
      <div class="campo corto">
        <input
          type="text"
          class="dato"
          [class.dado]="tituloCurso.value != ''"
          id="tituloCurso"
          [formControl]="tituloCurso"
        />
        <label for="tituloCurso" class="etiqueta"
          >Filtrar cursos por título</label
        >
      </div>
      <button routerLink="../curso" class="boton corto">Nuevo curso</button>
    </div>

    <h2>Cursos disponibles:</h2>

    <div class="listado">
      <div *ngFor="let curso of cursos" class="elemento">
        <app-list-element
          [id]="curso.id"
          [linea_principal]="curso.titulo"
          [linea_secundaria]="'Duración: ' + (curso.duracion || '') + ' horas '"
          [updateFunction]="actualizarCurso"
          [deleteFunction]="borrarCurso"
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
