<header>
  <div class="cabecera">
    <div routerLink="/" class="logo enlace">
      <img
        src="/assets/images/logo_160x120.png"
        alt="Logo"
        class="imagen_logo"
      />
      <div class="nombre_logo">
        <div>Club de Buceo</div>
        <div>MolaMola</div>
      </div>
    </div>
    <ul class="menu">
      <li routerLink="/noticias" class="enlace">Noticias</li>
      <li routerLink="/actividades" class="enlace">Actividades</li>
      <li routerLink="/escuela" class="enlace">Escuela</li>
      <li routerLink="/centros-buceo" class="enlace">Centros de buceo</li>
    </ul>
    <div routerLink="/login" class="enlace">Login</div>
  </div>
</header>
