@import "/src/assets/styles/variables";
@import "/src/assets/styles/common";

:host {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header {
  background-color: $color_azul_3;
  text-align: center;
}

.cabecera {
  @extend %ancho_dispositivo;

  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;

  padding: 0 1rem;

  font-family: $fuente_titulo;

  @media (min-width: $ancho_l) {
    padding: 0 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.imagen_logo {
  width: 65px;
}

.nombre_logo {
  margin-left: 0.5rem;
  text-align: center;
  font-size: 1rem;

  & div:nth-of-type(2) {
    margin-top: 0.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  align-items: center;

  @media (max-width: $ancho_m) {
    position: absolute;
    top: $alto_menu;
    left: 0;
    background-color: rgba($color_azul_3, .8);
    text-shadow: 1px 1px $color_azul_2, -1px 1px $color_azul_2, 1px -1px $color_azul_2, -1px -1px $color_azul_2;

    flex-direction: column;
    gap: 1.5rem 0;

    font-size: 2rem;

    width: 100vw;
    height: 0;
    overflow: hidden;

    transition: height 0.5s;
  }

  &.desplegado {
    height: calc(100vh - $alto_menu);
  }

}

.enlace {
  color: $color_blanco;
  cursor: pointer;

  &:hover {
    color: $color_amarillo;
  }

  @media (max-width: $ancho_m) {
    &:first-child {
      margin-top: 9rem;
    }
  }

  @media (min-width: $ancho_m) {
    font-size: 1.2rem;
  }

  @media (min-width: $ancho_l) {
    font-size: 1.5rem;
  }
}

.icono_menu {
  height: 1.75rem;
  cursor: pointer;

  @media (min-width: $ancho_m) {
    display: none;
  }
}

.icono_perfil {
  height: 44px;
  width: 44px;
  cursor: pointer;

  @media (min-width: $ancho_l) {
    height: 50px;
    width: 50px;
  }
}