<header>
  <div class="cabecera">
    <img
      src="/assets/images/icons/icono_menu.svg"
      alt="Menu"
      class="icono_menu"
      (click)="menu_desplegado = !menu_desplegado"
    />
    <div routerLink="/" class="logo enlace">
      <img src="/assets/images/logo_80x60.png" alt="Logo" class="imagen_logo" />
      <div class="nombre_logo">
        <div>Club de Buceo</div>
        <div>MolaMola</div>
      </div>
    </div>
    <ul class="menu" [class.desplegado]="menu_desplegado">
      <li routerLink="/noticias" class="enlace">Noticias</li>
      <li routerLink="/actividades" class="enlace">Actividades</li>
      <li routerLink="/escuela" class="enlace">Escuela</li>
      <li routerLink="/centros-buceo" class="enlace">Centros de buceo</li>
    </ul>
    <a routerLink="/login" *ngIf="!isLoggedIn">
      <img
        src="/assets/images/icons/icono_perfil.svg"
        alt="Login"
        class="icono_perfil"
        routerLink="/login"
    /></a>
    <a *ngIf="isLoggedIn" routerLink="/miembros">
      <img
        src="/assets/images/icons/icono_perfil_logged.svg"
        alt="Perfil de usuario"
        class="icono_perfil"
    /></a>
  </div>
</header>
