<header>
  <div class="cabecera">
    <img
      src="/assets/images/icono_menu.svg"
      alt="Menu"
      class="icono_menu"
      (click)="menu_desplegado = !menu_desplegado"
    />
    <div routerLink="/" class="logo enlace">
      <img
        src="/assets/images/logo_160x120.png"
        alt="Logo"
        class="imagen_logo"
      />
      <div class="nombre_logo">
        <div>Club de Buceo</div>
        <div>MolaMola</div>
      </div>
    </div>
    <ul class="menu" [class.desplegado]="menu_desplegado">
      <li routerLink="/noticias" class="enlace">Noticias</li>
      <li routerLink="/actividades" class="enlace">Actividades</li>
      <li routerLink="/escuela" class="enlace">Escuela</li>
      <li routerLink="/centros-buceo" class="enlace">Centros de buceo</li>
    </ul>
    <img
      *ngIf="!isLoggedIn_2"
      src="/assets/images/icono_perfill.svg"
      alt="Login"
      class="icono_perfil"
      routerLink="/login"
    />
    <img
      *ngIf="isLoggedIn_2"
      src="/assets/images/icono_perfil.svg"
      alt="Perfil de usuario"
      class="icono_perfil"
      routerLink="/miembros"
    />
  </div>
</header>
