<main>
  <form [formGroup]="msgForm" (ngSubmit)="enviarMsg()">
    <article class="articulo">
      <a id="contacto" class="ancla"></a>
      <h1>Contacta con el club</h1>
      <p>
        Si tienes cualquier duda, consulta o quieres contarnos cuáles son tus
        necesidades para que te ayudemos, no dudes en ponerte en contacto con
        nosotros:
      </p>
      <div class="formulario">
        <div class="campo">
          <input
            type="text"
            [formControl]="nombre"
            class="dato"
            [class.dado]="nombre.dirty && nombre.value != ''"
            required="required"
          />
          <label for="nombre" class="etiqueta">Nombre</label>

          <div
            *ngIf="nombre.errors && (nombre.touched || nombre.dirty)"
            class="error"
          >
            <div *ngIf="nombre.errors['required']">El nombre es necesario</div>
          </div>
        </div>
        <div class="campo">
          <input
            type="email"
            [formControl]="email"
            class="dato"
            [class.dado]="email.dirty && email.value != ''"
            required="required"
          />
          <label for="email" class="etiqueta">E-mail</label>

          <div
            *ngIf="email.errors && (email.touched || email.dirty)"
            class="error"
          >
            <div *ngIf="email.errors['required']">El correo es necesario</div>
            <div *ngIf="email.errors['pattern']">
              El correo no tiene el formato adecuado
            </div>
          </div>
        </div>

        <div class="campo">
          <input
            type="text"
            [formControl]="asunto"
            class="dato"
            [class.dado]="asunto.dirty && asunto.value != ''"
            required="required"
          />
          <label for="asunto" class="etiqueta">Asunto</label>

          <div
            class="error"
            *ngIf="asunto.errors && (asunto.touched || asunto.dirty)"
          >
            <div *ngIf="asunto.errors['required']">El asunto es necesario</div>
          </div>
        </div>
        <div class="campo">
          <textarea
            [formControl]="mensaje"
            class="dato alto"
            [class.dado]="mensaje.dirty && mensaje.value != ''"
            required="required"
          ></textarea>
          <label for="mensaje" class="etiqueta">Mensaje</label>

          <div
            class="error"
            *ngIf="mensaje.errors && (mensaje.touched || mensaje.dirty)"
          >
            <div *ngIf="mensaje.errors['required']">
              El mensaje es necesario
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="!msgForm.valid" class="boton">
          Enviar
        </button>
      </div>
    </article>
  </form>
</main>
