<main>
  <article>
    <h1>Gestión de actividades del club</h1>

    <div class="herramientas">
      <div class="campo">
        <input
          type="text"
          class="dato"
          [class.dado]="tituloActividad.value != ''"
          id="tituloActividad"
          [formControl]="tituloActividad"
        />
        <label for="tituloActividad" class="etiqueta"
          >Filtrar actividades por título</label
        >
      </div>
      <button routerLink="../actividad" class="boton corto">Nueva</button>
    </div>

    <h2>Actividades disponibles:</h2>

    <div class="listado">
      <div *ngFor="let actividad of actividades" class="elemento">
        <app-list-element
          [id]="actividad.id"
          [linea_principal]="actividad.titulo"
          [updateFunction]="actualizarActividad"
          [deleteFunction]="borrarActividad"
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
