<main>
  <article>
    <h1>Gestión del calendario de actividades</h1>

    <div class="herramientas">
      <div class="campo">
        <input
          type="text"
          class="dato"
          [class.dado]="tituloActividad.value != ''"
          id="tituloActividad"
          [formControl]="tituloActividad"
        />
        <label for="tituloActividad" class="etiqueta"
          >Filtrar actividades por título</label
        >
      </div>

      <button routerLink="../actividad-calendario" class="boton corto">
        Nueva
      </button>
    </div>

    <h2>Listado de actividades:</h2>

    <div class="listado">
      <div *ngFor="let actividadAgendada of actividades" class="elemento">
        <app-list-element
          [id]="actividadAgendada.id"
          [linea_principal]="actividadAgendada.actividad.titulo"
          [linea_secundaria]="
            (actividadAgendada.fecha | date : 'dd-MM-yyyy') +
            ' - ' +
            actividadAgendada.plazas +
            ' plazas'
          "
          [updateFunction]="this.actualizarActividad"
          [deleteFunction]="this.borrarActividad"
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
