<main>
  <article>
    <h1>Gestión de noticias</h1>

    <div class="herramientas">
      <div class="campo">
        <input
          type="text"
          class="dato"
          [class.dado]="tituloNoticia.value != ''"
          id="tituloNoticia"
          [formControl]="tituloNoticia"
        />
        <label for="tituloNoticia" class="etiqueta"
          >Filtrar noticias por título</label
        >
      </div>
      <button routerLink="../noticia" class="boton corto">Nueva</button>
    </div>

    <h2>Listado de noticias:</h2>

    <div class="listado">
      <div *ngFor="let noticia of noticias" class="elemento">
        <app-list-element
          [id]="noticia.id"
          [linea_principal]="noticia.titulo"
          [linea_secundaria]="
            (noticia.fechaPublicacion | date : 'dd-MM-yyyy') +
            ' - ' +
            (noticia.autor.nombre || '')
          "
          [updateFunction]="actualizarNoticia"
          [deleteFunction]="borrarNoticia"
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
