<main>
  <article>
    <h1>Actividades del Club</h1>

    <div
      *ngFor="let actividadAgendada of actividades"
      (click)="leerActividad(actividadAgendada.id)"
      class="actividad"
    >
      <div class="titulo">{{ actividadAgendada.actividad.titulo }}</div>
      <div class="imagen">
        <img
          src="/assets/images/activities/{{
            actividadAgendada.actividad.imagen
          }}"
          alt=""
        />
      </div>
      <div class="descripcion">
        {{ actividadAgendada.actividad.descripcion }}
      </div>
      <div class="datos">
        <span>Fecha: {{ actividadAgendada.fecha }}</span> -
        <span>Plazas: {{ actividadAgendada.plazas }}</span>
      </div>
    </div>
  </article>
</main>
