<main>
  <form [formGroup]="passwordForm" (ngSubmit)="actualizarClave()">
    <article>
      <h1>ICambio de contraseña</h1>
      <div class="formulario">
        <div class="campo ancho">
          <input
            type="password"
            [formControl]="passwordActual"
            class="dato"
            [class.dado]="passwordActual.value != ''"
          />
          <label class="etiqueta" for="password">Contraseña actual</label>

          <div
            *ngIf="
              passwordActual.errors &&
              (passwordActual.touched || passwordActual.dirty)
            "
            class="error"
          >
            <span *ngIf="passwordActual.errors['required']"
              >La contraseña actual es obligatoria</span
            >
          </div>
        </div>

        <div class="campo ancho">
          <input
            type="password"
            [formControl]="passwordNueva"
            class="dato"
            [class.dado]="passwordNueva.value != ''"
          />
          <label class="etiqueta" for="password">Contraseña nueva</label>

          <div
            *ngIf="
              passwordNueva.errors &&
              (passwordNueva.touched || passwordNueva.dirty)
            "
            class="error"
          >
            <div *ngIf="passwordNueva.errors['required']">
              La contraseña nueva es obligatoria
            </div>
            <div *ngIf="passwordNueva.errors['minlength']">
              La contraseña nueva debe tener al menos 8 caracteres
            </div>
            <div *ngIf="passwordNueva.errors['maxlength']">
              La contraseña nueva debe tener como mucho 16 caracteres
            </div>
          </div>
        </div>

        <div class="campo ancho">
          <input
            type="password"
            [formControl]="passwordRepetida"
            class="dato"
            [class.dado]="passwordRepetida.value != ''"
          />
          <label class="etiqueta" for="password">Repetir contraseña</label>

          <div
            *ngIf="
              (passwordRepetida.errors &&
                (passwordRepetida.touched || passwordRepetida.dirty)) ||
              (passwordForm.errors && passwordForm.errors['passwordNotMatch'])
            "
            class="error"
          >
            <div
              *ngIf="
                passwordRepetida.errors && passwordRepetida.errors['required']
              "
            >
              La contraseña es obligatoria
            </div>
            <div
              *ngIf="
                passwordRepetida.errors && passwordRepetida.errors['minlength']
              "
            >
              La contraseña nueva debe tener al menos 8 caracteres
            </div>
            <div
              *ngIf="
                passwordRepetida.errors && passwordRepetida.errors['maxlength']
              "
            >
              La contraseña nueva debe tener como mucho 16 caracteres
            </div>
            <div
              *ngIf="
                passwordForm.errors && passwordForm.errors['passwordNotMatch']
              "
            >
              Las contraseñas no coinciden
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="!passwordForm.valid" class="boton">
          Iniciar sesión
        </button>
      </div>
    </article>
  </form>
</main>
