<main>
  <form [formGroup]="authorForm" (ngSubmit)="enviarDatos()">
    <article class="articulo">
      <h1 *ngIf="!idAutor">Nuevo autor</h1>
      <h1 *ngIf="idAutor">Actualizar autor</h1>
      <div class="formulario">
        <div class="campo">
          <input
            type="text"
            [formControl]="nombre"
            class="dato"
            [class.dado]="nombre.value != ''"
            required="required"
          />
          <label for="nombre" class="etiqueta">Nombre del autor</label>

          <div *ngIf="nombre.errors" class="error">
            <span *ngIf="nombre.errors && (nombre.touched || nombre.dirty)">
              <span *ngIf="nombre.errors['required']"
                >El título es necesario</span
              >
            </span>
          </div>
        </div>
        <button type="submit" [disabled]="!authorForm.valid" class="boton">
          {{ idAutor ? "Actualizar" : "Crear" }}
        </button>
      </div>
    </article>
  </form>
</main>
