<main>
  <article>
    <h1>Historial de Actividades</h1>

    <p>
      Aquí podrás encontrar el listado de las actividades en las que te has
      inscrito y borrarte de aquellas en las que ya no quieras participar.
    </p>

    <div class="listado">
      <div *ngFor="let actividadAgendada of actividades" class="elemento">
        <app-list-element
          [id]="actividadAgendada.id"
          [linea_principal]="actividadAgendada.actividad.titulo"
          [linea_secundaria]="actividadAgendada.fecha | date : 'dd-MM-yyyy'"
          [previewFunction]="previewActividad"
          [updateFunction]=""
          [deleteFunction]="
            !actividadPasada(actividadAgendada.fecha) ? borrarDeActividad : ''
          "
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
