<main>
  <h1>Mapa de los centros de buceo</h1>
  <!-- setting height and width respectively,
  and calling our three functions -->
  <article>
    <google-map
      #myMap="googleMap"
      height="400px"
      width="100%"
      [zoom]="mapZoom"
      [options]="mapOptions"
      (mapMousemove)="move($event)"
    >
      <map-marker
        *ngFor="let centro of centros"
        [position]="centro.position"
        [options]="markerOptions"
        [label]="centro.centro"
        [title]="centro.direccion"
      >
      </map-marker>
    </google-map>

    <div>
      <div
        *ngFor="let centro of centros"
        (click)="centrarEnCentroBuceo(centro.position)"
      >
        <div>{{ centro.centro }}</div>
        <div>{{ centro.direccion }}</div>
        <div>{{ centro.email }}</div>
        <div>{{ centro.telefono }}</div>
        <div>{{ centro.esAccesible }}</div>
        <div>{{ centro.imagen }}</div>
      </div>
    </div>
  </article>

  <!-- displaying real-time location -->
  <div>Latitude: {{ display?.lat }}</div>
  <div>Longitude: {{ display?.lng }}</div>
</main>
