<main>
  <!-- setting height and width respectively,
  and calling our three functions -->
  <article>
    <h1>Mapa de los centros de buceo</h1>

    <div class="contenedor">
      <google-map
        id="mapaCentros"
        #myMap="googleMap"
        height="400px"
        width="100%"
        [zoom]="mapZoom"
        [options]="mapOptions"
        (mapMousemove)="move($event)"
      >
        <map-marker
          *ngFor="let centro of centros"
          [position]="centro.position"
          [options]="markerOptions"
          [title]="centro.nombre"
        >
        </map-marker>
      </google-map>

      <div class="centros">
        <h2>Listado de centros de buceo</h2>

        <div class="herramientas">
          <div class="campo corto">
            <input
              type="text"
              class="dato"
              [class.dado]="filtroCentro.value != ''"
              id="filtroCentro"
              [formControl]="filtroCentro"
            />
            <label for="filtroCentro" class="etiqueta"
              >Filtrar centros por nombre</label
            >
          </div>
        </div>

        <div class="listado">
          <div
            *ngFor="let centro of centros"
            class="elemento"
            (click)="centrarEnCentroBuceo(centro.position)"
          >
            <app-list-element
              [id]="centro.id"
              [linea_principal]="centro.nombre"
              [linea_secundaria]="centro.direccion"
              [linea_adicional]="
                centro.telefono +
                (centro.telefono && centro.email ? ' - ' : null) +
                centro.email
              "
              [info_extra]="centro.accesible ? 'accesible' : ''"
            ></app-list-element>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
