@import "/src/assets/styles/variables";
@import "/src/assets/styles/common";
@import "/src/assets/styles/manage-forms";

.listado {
  margin-top: 1em;
}

.elemento {
  cursor: pointer;
}

.contenedor {
  display: grid;
  grid-template-areas:
    "mapa"
    "info";
  gap: 1em;

  @media (min-width: $ancho_l) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mapa info";
  }
}

#mapaCentros {
  grid-area: mapa;
}

.centros {
  grid-area: info;
}