<main>
  <article>
    <h1 class="titulo">{{ actividadAgendada.actividad.titulo }}</h1>
    <div class="imagen">
      <img
        src="/assets/images/activities/{{ actividadAgendada.actividad.imagen }}"
        alt=""
        [imageMissing]
      />
    </div>
    <div class="datos">
      <span>Fecha {{ actividadAgendada.fecha }}</span> -
      <span
        >Plazas libres: {{ actividadAgendada.plazas - plazasOcupadas }} de
        {{ actividadAgendada.plazas }}
      </span>
    </div>
    <div class="contenido">{{ actividadAgendada.actividad.descripcion }}</div>
    <div class="contenido">{{ actividadAgendada.detalles }}</div>

    <div
      *ngIf="!usuarioInscrito && actividadAgendada.plazas > plazasOcupadas"
      class="botonera"
    >
      <div>¿Te apetece venir?</div>
      <a (click)="inscribirUsuario()" class="boton corto">¡Me apunto!</a>
    </div>
    <div *ngIf="usuarioInscrito" class="botonera">
      <div>¿Te ha surgido un imprevisto?</div>
      <a (click)="borrarUsuario()" class="boton corto">No puedo ir</a>
    </div>

    <div class="enlace-atras">
      <a routerLink="/noticias"
        ><img
          src="/assets/images/icons/back.svg"
          alt="Atrás"
          title="Regresar a la página anterior"
      /></a>
    </div>
  </article>
</main>
