<main>
  <article>
    <h1>{{ actividadAgendada.actividad.titulo }}</h1>
    <div class="imagen">
      <img
        src="/assets/images/activities/{{ actividadAgendada.actividad.imagen }}"
        alt=""
      />
    </div>
    <div class="datos">
      <span>Fecha {{ actividadAgendada.fecha }}</span> -
      <span>Plazas: {{ actividadAgendada.plazas }}</span>
    </div>
    <div class="contenido">{{ actividadAgendada.actividad.descripcion }}</div>
    <div class="contenido">{{ actividadAgendada.detalles }}</div>

    <a routerLink="/noticias">Volver a la página de actividades</a>
  </article>
</main>
