<main>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <article>
      <h1>Iniciar sesión</h1>
      <div class="formulario">
        <div class="campo ancho">
          <input
            type="email"
            [formControl]="email"
            class="dato"
            [class.dado]="email.value != ''"
          />
          <label class="etiqueta" for="email">Email: </label>

          <div
            *ngIf="email.errors && (email.touched || email.dirty)"
            class="error"
          >
            <div *ngIf="email.errors['required']">El correo es necesario</div>
            <div *ngIf="email.errors['pattern']">
              El correo no tiene el formato adecuado
            </div>
          </div>
        </div>

        <div class="campo ancho">
          <input
            type="password"
            [formControl]="password"
            class="dato"
            [class.dado]="password.value != ''"
          />
          <label class="etiqueta" for="password">Password: </label>

          <div
            *ngIf="password.errors && (password.touched || password.dirty)"
            class="error"
          >
            <span *ngIf="password.errors['required']"
              >La contraseña es obligatoria</span
            >
          </div>
        </div>

        <button type="submit" [disabled]="!loginForm.valid" class="boton">
          Iniciar sesión
        </button>
      </div>
    </article>
  </form>
</main>
