<main>
  <article>
    <h1>Cursos del club</h1>

    <div
      *ngFor="let cursoAgendado of cursos"
      (click)="verCurso(cursoAgendado.id)"
      class="curso"
    >
      <div class="titulo">{{ cursoAgendado.curso.titulo }}</div>
      <div class="imagen">
        <img
          src="/assets/images/courses/{{ cursoAgendado.curso.imagen }}"
          alt=""
        />
      </div>
      <div class="descripcion">{{ cursoAgendado.curso.descripcion }}</div>
      <div class="datos">
        <span>Comienzo: {{ cursoAgendado.fecha }}</span>
      </div>
    </div>
  </article>
</main>
