<main>
  <article>
    <h1>Cursos del club</h1>

    <div
      *ngFor="let cursoAgendado of cursos"
      (click)="verCurso(cursoAgendado.id)"
      class="listview-element"
    >
      <div class="titulo">{{ cursoAgendado.curso.titulo }}</div>
      <div class="imagen">
        <img
          src="/assets/images/courses/{{ cursoAgendado.curso.imagen }}"
          alt=""
          [imageMissing]
        />
      </div>
      <div class="contenido">{{ cursoAgendado.curso.descripcion }}</div>
      <div class="datos">
        <span>Comienzo: {{ cursoAgendado.fecha | date : "dd-MM-yyyy" }}</span>
      </div>
    </div>
  </article>
</main>
