<main>
  <form [formGroup]="newForm" (ngSubmit)="enviarDatos()">
    <article class="articulo">
      <h1 *ngIf="!idNoticia">Nueva noticia</h1>
      <h1 *ngIf="idNoticia">Actualizar noticia</h1>
      <div class="formulario">
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="titulo"
            class="dato"
            [class.dado]="titulo.value != ''"
            required="required"
          />
          <label for="titulo" class="etiqueta">Título</label>

          <div *ngIf="titulo.errors" class="error">
            <span *ngIf="titulo.errors && (titulo.touched || titulo.dirty)">
              <span *ngIf="titulo.errors['required']"
                >El título es necesario</span
              >
            </span>
          </div>
        </div>
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="idAutor"
            class="dato"
            [class.dado]="idAutor.value != ''"
            required="required"
          />
          <label for="idAutor" class="etiqueta">Autor</label>

          <div *ngIf="idAutor.errors" class="error">
            <span *ngIf="idAutor.errors && (idAutor.touched || idAutor.dirty)">
              <span *ngIf="idAutor.errors['required']"
                >La dirección es necesaria</span
              >
            </span>
          </div>
        </div>
        <div class="campo">
          <input
            type="text"
            [formControl]="fechaPublicacion"
            class="dato"
            [class.dado]="fechaPublicacion.value != ''"
            required="required"
          />
          <label for="fechaPublicacion" class="etiqueta"
            >Fecha de publicación</label
          >

          <div *ngIf="fechaPublicacion.errors" class="error">
            <span
              *ngIf="
                fechaPublicacion.errors &&
                (fechaPublicacion.touched || fechaPublicacion.dirty)
              "
            >
              <span *ngIf="fechaPublicacion.errors['required']"
                >El codigo postal es necesario</span
              >
            </span>
          </div>
        </div>
        <div class="campo">
          <input
            type="text"
            [formControl]="imagen"
            class="dato"
            [class.dado]="imagen.value != ''"
            required="required"
          />
          <label for="imagen" class="etiqueta">Imagen</label>

          <div *ngIf="imagen.errors" class="error">
            <span *ngIf="imagen.errors && (imagen.touched || imagen.dirty)">
              <span *ngIf="imagen.errors['required']"
                >La imagen es necesaria</span
              >
            </span>
          </div>
        </div>
        <div class="campo ancho">
          <input
            type="text"
            [formControl]="contenido"
            class="dato"
            [class.dado]="contenido.value != ''"
            required="required"
          />
          <label for="contenido" class="etiqueta">Cuerpo de la noticia</label>

          <div *ngIf="contenido.errors" class="error">
            <span
              *ngIf="contenido.errors && (contenido.touched || contenido.dirty)"
            >
              <span *ngIf="contenido.errors['required']"
                >El cuerpo de la noticia es necesario</span
              >
            </span>
          </div>
        </div>

        <button type="submit" [disabled]="!newForm.valid" class="boton">
          Actualizar
        </button>
      </div>
    </article>
  </form>
</main>
