<main>
  <article>
    <h1>Gestión de Centros de Buceo</h1>

    <div class="herramientas">
      <div class="campo corto">
        <input
          type="text"
          class="dato"
          [class.dado]="nombreCentro.value != ''"
          id="nombreCentro"
          [formControl]="nombreCentro"
        />
        <label for="nombreCentro" class="etiqueta"
          >Buscar centro por nombre del centro</label
        >
      </div>

      <button routerLink="../centro" class="boton corto">Nuevo</button>
    </div>

    <h2>Centros de buceo:</h2>

    <div class="listado">
      <div *ngFor="let centro of centros" class="elemento">
        <app-list-element
          [id]="centro.id"
          [linea_principal]="centro.nombre"
          [linea_secundaria]="centro.direccion || ''"
          [updateFunction]="actualizarCentro"
          [deleteFunction]="borrarCentro"
        ></app-list-element>
      </div>
    </div>
  </article>
</main>
