<main>
  <article>
    <h1 class="titulo">{{ noticia.titulo }}</h1>
    <div class="imagen">
      <img
        src="/assets/images/news/{{ noticia.imagen }}"
        alt=""
        [imageMissing]
      />
    </div>
    <div class="datos">
      <span>Por {{ noticia.autor.nombre }}</span> -
      <span> {{ noticia.fechaPublicacion | date : "dd-MM-yyyy" }}</span>
    </div>
    <div class="contenido">{{ noticia.contenido }}</div>

    <div class="enlace-atras">
      <a routerLink="/noticias"
        ><img
          src="/assets/images/icons/back.svg"
          alt="Atrás"
          title="Regresar a la página anterior"
      /></a>
    </div>
  </article>
</main>
