<div class="submenu">
  <h1>Administración</h1>
  <a routerLink="/admin/miembros">Miembros del club</a>
  <a routerLink="/admin/noticias">Gestión de noticias</a>
  <a routerLink="/admin/actividades">Actividades del club</a>
  <a routerLink="/admin/calendario-actividades"> Calendario de actividades </a>
  <a routerLink="/admin/cursos">Cursos impartidos</a>
  <a routerLink="/admin/calendario-cursos">Calendario de cursos</a>
  <a routerLink="/admin/centros-buceo">Mapa de centros de buceo</a>
</div>
