<article>
  <h2>Administración</h2>
  <ul>
    <li routerLink="/admin/miembros">Miembros del club</li>
    <li routerLink="/admin/noticias">Gestión de noticias</li>
    <li routerLink="/admin/actividades">Actividades del club</li>
    <li routerLink="/admin/calendario-actividades">
      Calendario de actividades
    </li>
    <li routerLink="/admin/cursos">Cursos impartidos</li>
    <li routerLink="/admin/calendario-cursos">Calendario de cursos</li>
    <li routerLink="/admin/centros-buceo">Mapa de centros de buceo</li>
  </ul>
</article>
