@import "/src/assets/styles/variables";

body {
  background-color: $color_blanco;
  font-family: $fuente_comun;
}

app-root {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1 0 auto;

  margin-top: $alto_menu;
}

%ancho_dispositivo {
  width: 100%;
  max-width: $ancho_s;
  margin: 0 auto;

  @media (min-width: $ancho_s) {
    max-width: $ancho_l;
  }

  @media (min-width: $ancho_l) {
    max-width: $ancho_xl;
  }
}

article {
  @extend %ancho_dispositivo;

  padding: 2rem 1rem 3rem;
}

h1 {
  margin-bottom: 2rem;

  font-size: 36px;
  font-family: $fuente_titulo;

  text-align: center;
}

h2 {
  margin: 1rem 0;

  font-size: 24px;
  font-family: $fuente_titulo;

  text-align: center;
}

p {
  line-height: 1.3;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }

  &.estrecho {
    max-width: $ancho_s;
    margin: 0 auto;
  }
}