@import "/src/assets/styles/variables";
@import "/src/assets/styles/common";



.formulario {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;

  margin-bottom: 4rem;

  max-width: $ancho_s;
  padding: 2rem;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.4);
  margin: 2rem auto;
  border-radius: 0.5rem;

  background-color: $color_azul_6;
}

.campo {
  display: flex;
  flex-direction:column;
  position: relative;
  flex: auto;

  &.ancho {
    flex: 100%;
  }
}

.campo .etiqueta {
  color: $color_azul_2;

  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 12px;
  left: 16px;
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

.dato.dado + label,
.dato:focus + label {
  top: -7px;
  width: max-content;
  height: max-content;
  line-height: normal;
  padding: inherit;
  font-size: 11px;
  opacity: 1;
  background-color: $color_blanco;
  padding: 0px 3px;
}

.dato {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid $color_azul_4;
  background-color: white;

  &:hover {
    border-color: $color_azul_2;
  }

  &:focus {
    border-color: $color_azul_2;
    outline: none;
    box-shadow: 0 0 4px $color_azul_2;
  }

  &.corto {
    max-width: 400px;
  }

  &.alto {
    height: 10rem;
  }
}

.error {
  position: absolute;
  left: 1rem;
  bottom: -1rem;
  color: red;
  font-size: 14px;
}

.boton {
  width: max-content;
  padding: 12px 32px;
  border-radius: 6px;
  text-transform: uppercase;
  outline: none;
  background-color: $color_azul_3;
  color: white;

  align-self: center;
  // margin-top: 1rem;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: $color_azul_2;
    cursor: pointer;
  }

  &:active:not(:disabled) {
    background-color: $color_gris;
  }

  &:disabled {
    background-color: lightgray;
    color: black;
  }

  &.corto {
    padding: 12px 16px;
  }
}
