$color_azul_1: #001d36;
$color_azul_2: #0d2d52;
$color_azul_3: #186987;
$color_azul_4: #30a2ad;
$color_azul_5: #9bece5;
$color_azul_6: #d2fff5;
$color_amarillo: #eeba4f;
$color_negro: #000000;
$color_gris: #b8b8b8;
$color_blanco: #ffffff;

$ancho_xs: 480px;
$ancho_s: 640px;
$ancho_m: 800px;
$ancho_l: 960px;
$ancho_xl: 1280px;

$alto_menu: 70px;

$fuente_titulo: Righteous, Arial, Helvetica, sans-serif;
$fuente_comun: Lato, Arial, Helvetica, sans-serif

