<main>
  <article>
    <h1>{{ cursoAgendado.curso.titulo }}</h1>
    <div class="imagen">
      <img
        src="/assets/images/courses/{{ cursoAgendado.curso.imagen }}"
        alt=""
      />
    </div>
    <div class="datos">
      <span>Fecha {{ cursoAgendado.fecha }}</span>
    </div>
    <div class="contenido">{{ cursoAgendado.curso.descripcion }}</div>
    <div class="contenido">{{ cursoAgendado.detalles }}</div>
    <div class="contenido">
      Duración: {{ cursoAgendado.curso.duracion }} horas
    </div>

    <a routerLink="/escuela">Volver a la página de actividades</a>
  </article>
</main>
