@import "/src/assets/styles/variables";
@import "/src/assets/styles/common";
@import "/src/assets/styles/detail-view";

.contenido.informacion {
  display: flex;
  flex-direction: column;
  gap: 0.5em 1.5em;

  @media(min-width: $ancho_xs) {
    flex-direction: row;
  }
}

.relevante {
  font-weight: bold;
}

