<main>
  <article>
    <h1 class="titulo">{{ cursoAgendado.curso.titulo }}</h1>
    <div class="imagen">
      <img
        src="/assets/images/courses/{{ cursoAgendado.curso.imagen }}"
        alt=""
        [imageMissing]
      />
    </div>
    <div class="contenido informacion">
      <div>
        <span class="relevante">Comienzo del curso:</span>
        {{ cursoAgendado.fecha | date : "dd-MM-yyyy" }}
      </div>

      <div>
        <span class="relevante">Duración:</span>
        {{ cursoAgendado.curso.duracion }} horas
      </div>
    </div>
    <div class="contenido">{{ cursoAgendado.curso.descripcion }}</div>
    <div class="contenido">{{ cursoAgendado.detalles }}</div>

    <div class="enlace-atras">
      <a routerLink="/noticias"
        ><img
          src="/assets/images/icons/back.svg"
          alt="Atrás"
          title="Regresar a la página anterior"
      /></a>
    </div>
  </article>
</main>
