<footer>
  <div class="pie">
    <ul class="enlaces_pie">
      <li routerLink="/quienes-somos" class="enlace">Conócenos</li>
      <li routerLink="/hazte-sozio" class="enlace">Cómo hacerte socio</li>
      <li routerLink="/centros-buceo" class="enlace">Centros de buceo</li>
      <li routerLink="/contacto" class="enlace">Contacta con nosotros</li>
      <li routerLink="/privacidad" class="enlace">Protección de datos</li>
      <li routerLink="/cookies" class="enlace">Cookies</li>
    </ul>
    <div class="datos">
      <div routerLink="/" class="logo enlace">
        <img
          src="/assets/images/logo_160x120.png"
          alt="Logo"
          class="imagen_logo"
        />
        <div class="nombre_logo">
          <div>Club de Buceo</div>
          <div>MolaMola</div>
        </div>
      </div>
      <div class="direccion">
        <div>c/ del Pececillo 4</div>
        <div>Madrid 28001</div>
        <div>654 321 987</div>
        <div>info@buceomolamola</div>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright 2023 Alejandro González Hernández</div>
</footer>
