<footer>
  <div class="pie">
    <div class="enlaces_pie">
      <a routerLink="/quienes-somos" class="enlace">Conócenos</a>
      <a routerLink="/hazte-socio" class="enlace">Cómo hacerte socio</a>
      <a routerLink="/centros-buceo" class="enlace">Centros de buceo</a>
      <a routerLink="/contacto" class="enlace">Contacta con nosotros</a>
      <a routerLink="/privacidad" class="enlace">Protección de datos</a>
      <a routerLink="/cookies" class="enlace">Cookies</a>
    </div>
    <div class="datos">
      <a routerLink="/" class="logo enlace">
        <img
          src="/assets/images/logo_160x120.png"
          alt="Logo"
          class="imagen_logo"
        />
        <div class="nombre_logo">
          <div>Club de Buceo</div>
          <div>MolaMola</div>
        </div>
      </a>
      <div class="direccion">
        <div>c/ del Pececillo 4</div>
        <div>Madrid 28001</div>
        <div>654 321 987</div>
        <div>info@buceomolamola</div>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright 2023 Alejandro González Hernández</div>
</footer>
