@import "/src/assets/styles/variables";
@import "/src/assets/styles/common";


footer {
  background-color: $color_azul_2;
  color: $color_blanco;
  text-align: center;
}









.copyright {
  padding: 1rem 0;

  font-size: 0.8rem;

  background-color: $color_azul_1;
}

